<!--
Copyright 2020 Allanic.me ISC License License
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
Created by Maxime Allanic <maxime@allanic.me> at 21/04/2020
-->

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./view.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="cont">
            <ul class="container processing">
                <li style="transform: translateX(0) translateY(-14px)"></li>
                <li style="transform: translateX(57.12px) translateY(-14px)"></li>
                <li style="transform: translateX(114.24px) translateY(-14px)"></li>
                <li style="transform: translateX(171.36px) translateY(-14px)"></li>
            </ul>
            <div class="dialog">
                <span></span>
            </div>
        </div>
        <script type="text/javascript" src="./view.js"></script>
    </body>
</html>